#addbtn:hover{
    background-color: rgb(63, 31, 150);
}
#addbtn{
    padding-left: 20px;
    padding-right: 20px;
}
#del_btn{
    padding-left: 20px;
    padding-right: 20px;
}
body{
    background-image: linear-gradient(to right, #e04040 , #FF8C00, #FF0080);
}

.card{
    background-color: rgba(77, 214, 214, 0.596);
}